#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.test{
  padding-bottom: 300px;
  
}
.centers{
  padding-top: 50px;
}
.card {
  transition: 0.3s;
}


.card:hover {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}


.container {
  padding-bottom: 100px;
}

